<form>
	<div class="comparison">
		<div class="summary">
		</div>
		<div id="friendly-combatants">
			<h1>Friendly Combatants</h1>
			<ul></ul>
			<br/>
			<h2>Summary</h2>
			<div id="friendly-summary">
			</div>
		</div>
		<div id="hostile-combatants">
			<h1>Hostile Combatants</h1>
			<ul></ul>
			<br/>
			<h2>Summary</h2>
			<div id="hostile-summary">
			</div>
		</div>
	</div>
</form>