#friendly-combatants {
	/* 
	border: 1px solid var(--palette-dialog-background-dark, #782e22);
	*/
	float:left;
	width:45%;
}

#hostile-combatants {
	/* 
	border: 1px solid var(--palette-dialog-background-dark, #782e22);
	*/
	float:right;
	width:45%;
}

.player-details {
	border: 1px solid var(--palette-dialog-background-dark, #782e22);
}

#CombatEstimateDialog form ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#CombatEstimateDialog .encounter-attacknumber,
#CombatEstimateDialog .encounter-attackdescription,
#CombatEstimateDialog .encounter-attackbonustohit,
#CombatEstimateDialog .encounter-averagedamage,
#CombatEstimateDialog .encounter-hasareaofeffect,
#CombatEstimateDialog .encounter-numberofattacks,
#CombatEstimateDialog .encounter-percentchance,
#CombatEstimateDialog .encounter-expecteddamage,
#CombatEstimateDialog .encounter-enemyhp,
#CombatEstimateDialog .encounter-roundstodown {
	border-top-width: 0px;
    border-right: 1px solid var(--palette-app-background-dark, #f0f0e0);
    border-left: 1px solid var(--palette-app-background-dark, #f0f0e0);
	/* display:*/
    display: inline-flex; 
	padding: 0.25rem;
	top: 20px;
    font-size: 0.75rem;
	background-color: var(--palette-app-background-dark, #191813);
	color: var(--palette-app-background-dark-contrast-text, #f0f0e0);
}